.Mainbox{
    border:solid rgb(245, 223, 223);
     height: 750px;
     background-color: #fffcf8;
}
.Istbox{
    border:solid rgb(245, 223, 223);
    height: 250px;
    font-size: 19px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}
.Box1{
   
    height: 100%; 
    width:250px
}
.Sociallink{
    display: flex;
    justify-content: space-around;
}

.info{
    /* border: solid black; */
    height:150px;
    width:400px;
    margin:auto;
    display:flex;
    font-size: 15px;
}
